<router-outlet></router-outlet>
<hr>
<div class="razor-pay">
  <form [formGroup]="paymentForm" (submit)="submit()" class="example-form">
    <h1>Payment Details</h1>
    <div class="form-row">
      <div class="form-col">
        <mat-form-field appearance="fill">
          <mat-label>Customer Name</mat-label>
          <input formControlName="customerName" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput>
        </mat-form-field>
      </div>
      <div class="form-col">
        <mat-form-field appearance="fill">
          <mat-label>Contact</mat-label>
          <input formControlName="contact" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <mat-form-field appearance="fill">
          <mat-label>Total Amount</mat-label>
          <input type="number" formControlName="totalAmount" matInput>
        </mat-form-field>
      </div>
      <div class="form-col">
        <mat-form-field appearance="fill">
          <mat-label>Receipt Number</mat-label>
          <input type="number" formControlName="receiptNumber" matInput>
        </mat-form-field>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-col">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <textarea formControlName="address" matInput ></textarea>
        </mat-form-field>
      </div>
    </div>
  
    <div class="btn-container">
      <button mat-flat-button type="reset">Reset</button>
      <button mat-flat-button color="primary" type="submit">Next</button>
    </div>
  </form>

  <button (click)="fetchNames()">Names</button>
  <button (click)="fetchSession()">Session</button>
</div>